<div class="card mb-4">
    <div class="card-header">Support Purpose</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Natural Disasters</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Diseases</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Children</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Disabilities</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Education</a>
                    <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">Clean Water</a>
                </div>
            </div>
        </div>
    </div>
</div>
