<div class="card mb-4">
    <div class="card-header">Urgent Support Programs</div>
    <div class="card-body">
        Some programs need your urgent support:
        <div class="list-group list-group-flush mt-2">
            <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">
                <i class="bi bi-fire text-danger me-2"></i>Education for All
            </a>
            <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">
                <i class="bi bi-fire text-danger me-2"></i>Disaster Relief
            </a>
            <a href="#" class="list-group-item list-group-item-action text-dark text-decoration-none">
                <i class="bi bi-fire text-danger me-2"></i>Clean Water Projects
            </a>
        </div>
    </div>
</div>
