@{
    ViewData["Title"] = "Add Purpose";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Add New Purpose</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin" asp-controller="Purposes" asp-action="List">Purposes</a>
        </li>
        <li class="breadcrumb-item active">Add</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <form asp-action="Add" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Purpose Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter purpose name..."/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>

            </form>
        </div>
    </div>
</div>
