@model Fe.DTOs.Partners.CreatePartnerDto
@{
    ViewData["Title"] = "Add Partner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Add New Partner</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="List">Partners</a></li>
        <li class="breadcrumb-item active">Add</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Partner Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Upload Logo</label>
                    <input name="logo" type="file" class="form-control" accept=".png,.svg" />
                    <span asp-validation-for="LogoUrl" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Upload File</label>
                    <input name="contract" type="file" class="form-control" accept=".pdf,.docx" />
                    <span asp-validation-for="ContractFile" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>

            </form>
        </div>
    </div>
</div>
